body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.card {
    padding: 10%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    box-shadow: 0 8px 16px rgb(253, 203, 0);
}

.card:hover {

    transform: scale(1.05);
}

.card-image {
    max-width:150px ;
    width: 100%;
    height: auto;
    box-shadow: 0 8px 16px rgb(251, 202, 0);
    border-radius: 5%;
}

.card-image:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgb(229, 183, 0);
}

.card-content {
    padding: 15px;
}

button {
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
}

button:hover {
    background-color: #e6b800;
    transform: scale(0.95);
    box-shadow: 0 8px 16px rgb(0, 0, 0);
}


button:hover {
    background-color: #e6b800;
    transform: scale(1.05);
}